
# Ignore everything
*
# Except
!README.md
!README.Rmd
!.gitignore
!*.py
!raw_data/
!raw_data/*.csv
!scratchwork/
!scratchwork/*.py
!README_files/
!README_files/figure_gfm/
!README_files/figure_gfm/*.png
